<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Uses Non-Exempt Encryption </key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-SemiboldItalic.ttf</string>
		<string>SFProText-LightItalic.ttf</string>
		<string>SFProText-HeavyItalic.ttf</string>
		<string>SFProText-Heavy.ttf</string>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-Light.ttf</string>
		<string>SFProText-BoldItalic.ttf</string>
		<string>SFProText-MediumItalic.ttf</string>
		<string>SFProText-RegularItalic.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SFProText-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
